flow2.json
[
    {
        "id": "f952b7eb395dcede",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0712be678a8a8fd7",
        "type": "inject",
        "z": "f952b7eb395dcede",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "g7",
                "v": "Hola G7",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "15",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 420,
        "y": 220,
        "wires": [
            [
                "83a974e185f495c0",
                "23a847fcba4564fd"
            ]
        ]
    },
    {
        "id": "f957be4c3faf61ad",
        "type": "debug",
        "z": "f952b7eb395dcede",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 280,
        "wires": []
    },
    {
        "id": "83a974e185f495c0",
        "type": "function",
        "z": "f952b7eb395dcede",
        "name": "Decodificador de hora",
        "func": "// Crea un objeto Date a partir del payload enviado por timestamp\nvar date = new Date(msg.payload);\n// Cambia el payload para que sea una fecha con formato\nmsg.payload = date.toString();\n// Regresa el mensaje para que se envíe al sigueinte nodo\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 220,
        "wires": [
            [
                "f957be4c3faf61ad",
                "3da059a3c3402b68"
            ]
        ]
    },
    {
        "id": "3da059a3c3402b68",
        "type": "ui_text",
        "z": "f952b7eb395dcede",
        "group": "c0651b0a5543683a",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Fecha - Label",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 920,
        "y": 220,
        "wires": []
    },
    {
        "id": "23a847fcba4564fd",
        "type": "debug",
        "z": "f952b7eb395dcede",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 280,
        "wires": []
    },
    {
        "id": "c0651b0a5543683a",
        "type": "ui_group",
        "name": "Fecha - Group",
        "tab": "0e2164f4c99c3244",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0e2164f4c99c3244",
        "type": "ui_tab",
        "name": "Fecha - Tab",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]